body{
    margin: 0;
    padding: 0;
    background: url("../images/bg-pattern-top.svg"),
    url("../images/bg-pattern-bottom.svg") #19A1AD;
    background-repeat: no-repeat, no-repeat;
    background-position: left -40vw top -50vh, left 50vw top 50vh;
    font-family: "KumbhSans", sans-serif;
}

p{
    color: hsl(227, 10%, 46%);
}

.img-top-background, .img-bottom-background{
    background-color: red;
    position: absolute;
    z-index: -1;
}
.img-top-background{
    transition: .2s;
    top: -500px;
    left: -30%;
    rotate: 360deg;
}
.img-bottom-background{
    transition: .2s;
    top: 400px;
    left: 50%;
    rotate: 360deg;
}

.card {
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    background: hsl(0, 0%, 100%);
    text-align: center;
    border-radius: 1em;
}
.bgCard{
    border-radius: 1em 1em 0 0;
}
.person{
    position: relative;
    border-radius: 50%;
    background-color: hsl(0, 0%, 100%);
    padding: 5px;
    top: -50px;
}

.stats{
    border-top: 1px solid hsla(0, 0%, 59%, .3);
    padding-top: 1em;
    display: flex;
    justify-content: space-around;
}
.noSpace{
    margin: 0;
}

.left-right{
    display: flex;
    position: absolute;
    top: 32%;
    left: 30%;
}
.left-right p{
    margin: 0;
}
.left-right p:first-child{
    margin-right: 1em;
}
.left-right p:nth-child(2){
    transform: translate(0, 2px);
}

.London{
    margin-bottom: 2em;
}

.bold{
    font-family: "KumbhSans-Bold";
    color: hsl(229, 23%, 23%);
    font-size: 18px;
}

@media screen and (max-width: 858px) {
    body{
        background-position: left -80vw top -50vh, left 50vw top 50vh;
    }
}
@media screen and (max-width: 684px) {
    body{
        background-position: left -120vw top -50vh, left 50vw top 50vh;
    }
}
@media screen and (max-width: 518px) {
    body{
        background-position: left -160vw top -50vh, left 50vw top 50vh;
    }
}
@media screen and (max-width: 420px) {
    body{
        background-position: left -200vw top -50vh, left 50vw top 50vh;
    }
}

@font-face {
    font-family: "KumbhSans";
    src: url("../font/static/KumbhSans-Regular.ttf");
}
@font-face {
    font-family: "KumbhSans-Bold";
    src: url("../font/static/KumbhSans-Bold.ttf");
}